.main-carousel {
  border-bottom: 1px solid #222;
}

.slick-slide {
  height: 100%;
  position: relative;
  img {
    width: 100%;
    @media screen and (min-width: 400px) and (max-width: 540px) {
      height: 300px;
      object-fit: cover;
    }
    @media screen and (min-width: 541px) and (max-width: 768px) {
      height: 400px;
    }
  }
}

.slick-slider {
  padding-bottom: 1em;
}

.content {
  padding: 20px;
  position: relative;
  .mainTitle {
    font-size: 24px;
    margin-bottom: 1em;
  }
}

.play-image-contain {
  position: relative;
}

.play {
  background-image: url('../img/play.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 6em;
  position: absolute;
  width: 6em;
  .center();
}

.slick-prev, .slick-next {
  height: auto;
}

.slick-dots {
  bottom: auto;
  position: relative;
}

.slick-dots li button:before {
  color: #fff;
  font-size: 12px;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #ff0046;
  opacity: 1;
}

.iconArrow {
  width: 150%;
}

.tool-menu {
  display: none;
}

.category-contain {
  padding: 20px;
  h2 {
    margin-bottom: 1em;
  }
}

.category-carousel .content {
  padding: 20px 0;
}

.tool-menu {
  background-color: #222;
  border-radius: 2px;
  right: 2.5em;
  top: 15px;
  width: 200px;
  &:after {
    content: "";
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #222;
    height: 0;
    position: absolute;
    right: -7px;
    top: 8px;
    width: 0;
    z-index: 2;
  }
  ul {
    position: relative;
    z-index: 4;
    li {
      border-bottom: 1px solid #000;
      list-style: none;
      padding: 10px;
      &:after {
        content: "";
        background-color: #111;
        height: 1px;
        left: 0;
        position: relative;
        top: 37px;
        width: 100%;
      }
      &:last-child {
        border: none;
      }
      &:hover {
        background-color: #000;
      }
      a {
        color: #fff;
        display: block;
        font-size: 12px;
        text-decoration: none;
      }
    }
  }
  &.open {
    display: block;
    position: absolute;
  }
}

.category-carousel .slick-slide .video-tooltip {
  background-image: url('../img/menu.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  display: block;
  height: 48px;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 25px;
}

// Start Responsive

@media screen and (min-width: 1024px) {

  // Slider attributes
  .slick-prev {
    left: 36px;
    z-index: 9;
  }
  .slick-next {
    right: 36px;
    &:before {
      display: none;
    }
  }
  .slick-prev:before {
    display: none;
  }

  // Main Carousel
  .main-carousel .slick-slider .slick-slide img {
    height: 300px;
  }

  // Category Carousel
  .category-carousel {
    .slick-prev {
      left: -65px;
      .iconArrow polygon {
        fill: #333 !important;
        color: #333;
      }
    }
    .slick-next {
      right: -55px;
    }
  }

  .category-carousel .slide-container {
    margin: 10px;
    position: relative;
  }

  .category-carousel .slick-slide  {
    img {
      width: 100%;
    }
  }

  .category-contain {
    background-color: #191a1c;
    border-bottom: 1px solid #040405;
    padding: 3em 6em;
    h2 {
      font-size: 21px;
      font-weight: normal;
      margin-bottom: 12px;
    }
  }
  .category-carousel .content-block {
    background-color: #333;
    width: 100%;
  }

  .category-carousel {
    .content {
      padding: 10px;
    }
    .title {
      font-size: 15px;
      font-weight: normal;
      margin-bottom: 0;
    }
     .description {
      display: none;
      font-size: 12px;
    }
  }


  .category-carousel .slick-slide .content-block {
    &:hover {
        height: 312px;
        max-height: 132%;
        position: absolute;
        top: 0;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        .content {
          .title {
            margin-bottom: 10px;
          }
          .description {
            display: block;
          }
        }
        .tool-menu {
          display: none;
        }
    }
  }
}

@media screen and (min-width: 1280px) {
  .main-carousel {
    .content-block {
      bottom: 0;
      padding: 50px;
      position: absolute;

      .main-title {
        font-size: 42px;
        margin-bottom: 0.5em;
      }
      .description {
        font-size: 1em;
      }
    }
  }
}
