.slick-slide {
  height: 100%;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
}

.content {
  padding: 20px;
  position: relative;
  .mainTitle {
    font-size: 24px;
    margin-bottom: 1em;
  }
}

.play {
  left: 50%;
  position: relative;
  top: -2em;
}
.slick-prev, .slick-next {
  height: auto;
}

.slick-dots {
  bottom: 3em;
}

.slick-dots li button:before {
  color: #fff;
  font-size: 12px;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #ff0046;
  opacity: 1;
}

.iconArrow {
  width: 150%;
}

// Start Responsive

@media screen and (min-width: 1024px) {

  // Slider attributes

  .play {
    background-image: url('../img/play.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 6em;
    left: 50%;
    position: absolute;
    top: 6em;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 6em;
  }

  .playIcon {
    top: 2em;
    width: 130px;
  }

  .slick-prev {
    left: 36px;
    z-index: 9;
  }
  .slick-next {
    right: 36px;
    &:before {
      display: none;
    }
  }
  .slick-prev:before {
    display: none;
  }

  .slick-dots {
    top: 27em;
  }

  .slick-slide img {
    object-fit: cover;
  }

  // Main Carousel
  .main-carousel .slick-slider .slick-slide {
    height: 480px !important;
    position: relative;
  }

  .main-carousel {
    .content-block {
      bottom: 0;
      padding: 50px;
      position: absolute;

      .main-title {
        font-size: 42px;
        margin-bottom: 0.5em;
      }
      .description {
        font-size: 1em;
      }
    }
  }

  // Category Carousel
  .category-carousel {
    .slick-prev {
      left: -65px;
      .iconArrow {
        color: #333;
      }
    }
    .slick-next {
      right: -55px;
    }
  }

  .category-contain {
    background-color: #191a1c;
    border-bottom: 1px solid #040405;
    padding: 3em 6em;
    h2 {
      font-size: 21px;
      font-weight: normal;
      margin-bottom: 12px;
    }
  }
  .category-carousel .content-block {
    background-color: #333;
  }
  .category-carousel {
    .content {
      height: 32px;
      padding: 10px;
    }
    .title {
      font-size: 15px;
      font-weight: normal;
      margin-bottom: 0;
    }
     .description {
      display: none;
      font-size: 12px;
    }
  }


  .category-carousel .slick-slide .content-block {
    &:hover {
        height: 312px;
        max-height: 135%;
        overflow: scroll;
        position: absolute;
        top: 0;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

        .content {
          .title {
            margin-bottom: 10px;
          }
          .description {
            display: block;
          }
        }
    }

  }
}
