@media screen and (min-width: 1024px) {
  .slick-slider .slick-slide {
    height: 480px !important;
    position: relative;
  }

  .slick-prev {
    left: 36px;
    z-index: 9;
  }
  .slick-next {
    right: 36px;
    &:before {
      display: none;
    }
  }
  .slick-prev:before {
    display: none;
  }

  .slick-dots {
    top: 27em;
  }

  .slick-slide img {
    object-fit: cover;
    width: 100vw;
  }
  .content-block {
    position: absolute;
    bottom: 0;
    width: 580px;
    padding: 50px;
    .mainTitle {
      font-size: 42px;
      margin-bottom: 0.5em;
    }
    .description {
      font-size: 1em;
    }
  }
}

.slick-prev, .slick-next {
  height: auto;
}

.slick-dots li button:before {
  color: #fff;
  font-size: 12px;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #ff0046;
  opacity: 1;
}
.playIcon {
  position: absolute;
  left: 50%;
  top: 2em;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 130px;
}

.iconArrow {
  width: 150%;
}
