/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
body {
  background-color: #191A1C;
  color: #fff;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header {
  background-color: #131315;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
}
.logo {
  width: 100%;
}
.main-carousel {
  border-bottom: 1px solid #222;
}
.slick-slide {
  height: 100%;
  position: relative;
}
.slick-slide img {
  width: 100%;
}
@media screen and (min-width: 400px) and (max-width: 540px) {
  .slick-slide img {
    height: 300px;
    object-fit: cover;
  }
}
@media screen and (min-width: 541px) and (max-width: 768px) {
  .slick-slide img {
    height: 400px;
  }
}
.slick-slider {
  padding-bottom: 1em;
}
.content {
  padding: 20px;
  position: relative;
}
.content .mainTitle {
  font-size: 24px;
  margin-bottom: 1em;
}
.play-image-contain {
  position: relative;
}
.play {
  background-image: url('../img/play.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 6em;
  width: 6em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slick-prev,
.slick-next {
  height: auto;
}
.slick-dots {
  bottom: auto;
  position: relative;
}
.slick-dots li button:before {
  color: #fff;
  font-size: 12px;
  opacity: 1;
}
.slick-dots li.slick-active button:before {
  color: #ff0046;
  opacity: 1;
}
.iconArrow {
  width: 150%;
}
.tool-menu {
  display: none;
}
.category-contain {
  padding: 20px;
}
.category-contain h2 {
  margin-bottom: 1em;
}
.category-carousel .content {
  padding: 20px 0;
}
.tool-menu {
  background-color: #222;
  border-radius: 2px;
  right: 2.5em;
  top: 15px;
  width: 200px;
}
.tool-menu:after {
  content: "";
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #222;
  height: 0;
  position: absolute;
  right: -7px;
  top: 8px;
  width: 0;
  z-index: 2;
}
.tool-menu ul {
  position: relative;
  z-index: 4;
}
.tool-menu ul li {
  border-bottom: 1px solid #000;
  list-style: none;
  padding: 10px;
}
.tool-menu ul li:after {
  content: "";
  background-color: #111;
  height: 1px;
  left: 0;
  position: relative;
  top: 37px;
  width: 100%;
}
.tool-menu ul li:last-child {
  border: none;
}
.tool-menu ul li:hover {
  background-color: #000;
}
.tool-menu ul li a {
  color: #fff;
  display: block;
  font-size: 12px;
  text-decoration: none;
}
.tool-menu.open {
  display: block;
  position: absolute;
}
.category-carousel .slick-slide .video-tooltip {
  background-image: url('../img/menu.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  display: block;
  height: 48px;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 25px;
}
@media screen and (min-width: 1024px) {
  .slick-prev {
    left: 36px;
    z-index: 9;
  }
  .slick-next {
    right: 36px;
  }
  .slick-next:before {
    display: none;
  }
  .slick-prev:before {
    display: none;
  }
  .main-carousel .slick-slider .slick-slide img {
    height: 300px;
  }
  .category-carousel .slick-prev {
    left: -65px;
  }
  .category-carousel .slick-prev .iconArrow polygon {
    fill: #333 !important;
    color: #333;
  }
  .category-carousel .slick-next {
    right: -55px;
  }
  .category-carousel .slide-container {
    margin: 10px;
    position: relative;
  }
  .category-carousel .slick-slide img {
    width: 100%;
  }
  .category-contain {
    background-color: #191a1c;
    border-bottom: 1px solid #040405;
    padding: 3em 6em;
  }
  .category-contain h2 {
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 12px;
  }
  .category-carousel .content-block {
    background-color: #333;
    width: 100%;
  }
  .category-carousel .content {
    padding: 10px;
  }
  .category-carousel .title {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 0;
  }
  .category-carousel .description {
    display: none;
    font-size: 12px;
  }
  .category-carousel .slick-slide .content-block:hover {
    height: 312px;
    max-height: 132%;
    position: absolute;
    top: 0;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  .category-carousel .slick-slide .content-block:hover .content .title {
    margin-bottom: 10px;
  }
  .category-carousel .slick-slide .content-block:hover .content .description {
    display: block;
  }
  .category-carousel .slick-slide .content-block:hover .tool-menu {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .main-carousel .content-block {
    bottom: 0;
    padding: 50px;
    position: absolute;
  }
  .main-carousel .content-block .main-title {
    font-size: 42px;
    margin-bottom: 0.5em;
  }
  .main-carousel .content-block .description {
    font-size: 1em;
  }
}
